/* GENERAL */
div
{
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   border: 10px;
   padding: 10px;
}

a {
  transition: 0.5s;
}

/* Home Section */

#home {
   background-image: url("../img/kiss.jpg"); 
   background-color: #cccccc; 
   height: 560px; 
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
}

/* Sections Header */

.section-header h2 {
   font-size: 32px;
   color: #111;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   position: relative;
   padding-bottom: 15px;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 2px;
  background: #00CED1;
  bottom: 1px;
  left: calc(50% - 100px);
}



.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}


/* Schedule Section */

#schedule {
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
  background: #f8f9fa;
}


#schedule .container {
  position: relative;
  z-index: 10;
}

#schedule .schedule-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#schedule .schedule-col .img {
  position: relative;
}

#schedule .schedule-col .img img {
  border-radius: 4px 4px 0 0;

}

#schedule .schedule-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#schedule .schedule-col h3 a {
  color: #000;
}

#schedule .schedule-col h3 a:hover {
  color: #00CED1;
}

#schedule .schedule-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}


/* Wedding Party Section */

#wedding-party {
  padding: 60px 0;
}

#wedding-party .section-header {
  margin-bottom: 40px;
  color:red;
}

#wedding-party .party-item .party-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#wedding-party .party-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#wedding-party .party-item p {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}



/* Registry Section */

#registry {
  padding: 60px 0;
}

#registry img {
  max-width: 30%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#registry img:hover {
  opacity: 1;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #00CED1;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}


