/*

I am using this color for the website #00CED1

*/


/* GENERAL */

div
{
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   border: 10px;
   padding: 10px;
}

a {
  transition: 0.5s;
}

/* Buttons */

.btn-primary {
    background: #00CED1; 
    color: #ffffff;
    border: 0 none;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active {
    background: #00CED1; 
    color: #ffffff;
    border: 0 none;
}


/* Home Section */

#home {
   background-image: url("../img/kiss.jpg"); 
   background-color: #f8f9fa; 
   height: 560px; 
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: auto;
}


/* Sections Header */

.section-header {
  padding: 60px 0;
}

.section-header h2 {
   font-size: 32px;
   color: #111;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   position: relative;
   padding-bottom: 15px;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 2px;
  background: #00CED1;
  bottom: 1px;
  left: calc(50% - 100px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}


/* Schedule Section */

.schedule-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.schedule-col:hover{
  border-style: solid;
  border-color: #00CED1;
  border-width: 1px;
}

.schedule-col .img {
  position: relative;
}

.schedule-col .img img {
  border-radius: 4px 4px 0 0;

}

.schedule-cols a:hover{
  text-decoration: none;
}

.schedule-cols a h3,
.schedule-cols a h5 {
  color: #000
}

.schedule-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}


/* Wedding Party Section */

.party-item .party-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.party-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.party-item p {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}



/* Registry Section */

.gift-registry img {
  max-width: 100%;
  opacity: 0.5;
}

.gift-registry img:hover {
  opacity: 1;
}


/* RSVP */

.rsvp-cols {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}


.rsvp-col h3 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

.rsvp-col p{
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}


