<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<title>Ana and Kevin Wedding</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<!-- Google Fonts -->
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700">

  	<!-- Bootstrap Files -->
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">

  	<!-- Libraries CSS Files -->
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/animate/animate.min.css') }}">
  	{% block css %}{% endblock %}

  	<!-- Main Stylesheet File -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="{{ url_for('static', filename='img/logo.png') }}" width="60" height="60" alt="">
			 </a>
			 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
		  	<div class="collapse navbar-collapse" id="navbarText">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item active">
		        		<a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/schedule">Schedule</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/wedding-party">Wedding Party</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/registry">Registry</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/rsvp">RSVP</a>
		      		</li>
		    	</ul>
		    	{% if current_user.is_authenticated %}
		    		<div class="navbar-nav">
			    		<a class="nav-item nav-link" href="{{ url_for('guest_list') }}">Guest List </a>
			    		<a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout </a>
		    		</div>
		    	{% else %}
			    	<span class="navbar-text d-none d-lg-block">
			      		#AnaAndKevinTieTheKnot
			    	</span>
			    {% endif %}
		  	</div>
		</nav>
	</header>

	<!-- Content -->
	<div>
		<main role="main" class="container">
			{% with messages = get_flashed_messages(with_categories=true) %}
            	{% if messages %}
              		{% for category, message in messages %}
                		<div class="alert alert-{{ category }}">
                  			{{ message }}
                		</div>
              		{% endfor %}
            	{% endif %}
			{% endwith %}
  			<div class="section-header">
				{% block header %}{% endblock %}
			</div>

      		{% block content %}{% endblock %}

        </main>

	</div>

	<!-- JavaScript Libraries -->
  	<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  	{% block js %}{% endblock %}

  	<!-- Template Main Javascript File -->
  	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
