{% extends "layout.html" %}

{% block header %}
			<h2>RSVP</h2>
			<p>Please let us know your plans here. We hope we get to celebrate together!</p>
{% endblock header %}

{% block content %}
		<div class="rsvp-form row wow fadeInUp">
			<form class="form-group name-lookup-form">
				<div class="col-xs-12 col-sm-10 offset-md-2 col-md-6 offset-md-3">
					<label>Enter the name on your invitation</label>
				</div>
				<div class="col-xs-12 col-sm-10 offset-md-2 col-md-6 offset-md-3">
					<input type="text" class="form-control" id="" placeholder="e.g. Daniel Smith">
				</div>
				<div class="col-xs-12 col-sm-10 offset-md-2 col-md-6 offset-md-3">
					<button type="submit" class="btn btn-primary">Continue</button>						
				</div>
			</form>
		</div>
{% endblock content %}

{% block js %}
  	<!-- Contact Form JavaScript File -->
{% endblock js %}